<div class="alert-drawer {{type}}" ng-class="{slide: message}">
    <div class="message">
        <i class="fa fa-spinner" ng-show="type == 'processing'"/>
        <i class="fa fa-check" ng-show="type == 'success'"/>
        <i class="fa fa-bolt" ng-show="type == 'info'"/>
        <i class="fa fa-exclamation-triangle js-danger" ng-show="type == 'danger'"/>
        <i class="fa fa-exclamation-triangle js-warning" ng-show="type == 'warning'"/>
        <span ng-bind-html="message"></span>
    </div>
    <a class="dismiss" href="#" ng-click="dismissAlert()"></a>
</div>
